form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  margin-top: 5px;
  width: 300px;
}

button {
  margin-top: 10px;
  background-color:#ff0000;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}
