* {
  color: white;
}

.progress_wrapper {
  min-height: 10vh;
}

.home_wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: white;
}

.character_container img {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.character_container {
  cursor: pointer;
}

.character_container:hover img {
  transition: 0.2s;
  border: 5px solid rgb(226, 2, 2);
}

.character_container:hover h5 {
  color: rgb(226, 2, 2);
}

.selected_character_img {
  border: 5px solid rgb(226, 2, 2);
}

.selected_character_text {
  color: rgb(226, 2, 2);
}

.next_btn_div {
  min-height: 10vh;
}

.next_btn_div button {
  color: white;
  background-color: rgb(226, 2, 2);
  border-radius: 4px;
  border: none;
  float: right;
  padding: 7px 10px;
}


/* //question */
.question_wrapper {
  height: 70vh;
  padding: 30px 50px;
  width: 100%;
  background-color: rgb(174, 172, 170);
  border-radius: 0 20px 20px 20px;
}

.question_wrapper h5 {
  color: rgb(74, 0, 84);
  font-size: 2rem;
}

.question_wrapper label {
  color: rgb(74, 0, 84);
  font-size: 1.4rem;
}

.question_option {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  margin: 15px 0;
}