* {
  color: white;
}

.progress_wrapper {
  min-height: 10vh;
}

.home_wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: white;
}

.character_container img {
  object-fit: cover;
  border-radius: 10px;
  object-position: top;
}




/* //question */
.question_wrapper {
  height: 70vh;
  padding: 30px 50px;
  width: 100%;
  background-color: rgb(174, 172, 170);
  border-radius: 0 20px 20px 20px;
}

.question_wrapper h5 {
  color: rgb(74, 0, 84);
  font-size: 2rem;
}

.question_wrapper label {
  color: rgb(74, 0, 84);
  font-size: 1.4rem;
}

.question_option {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  margin: 15px 0;
}

.options span {
  font-size: 2rem;
  margin: 0 30px;
  font-weight: 700;
}