* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam Pro', sans-serif;

}

.Question_wrapper {
  min-height: 100vh;
}

.Question_wrapper h2 {
  font-size: 2.3rem;
  font-weight: 800;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.surveryImage {
  height: 40vh;
  width: 40vw;
  border: 5px solid var(--Primary-Color);
  border-radius: 10px;
}